
// # Citadel Structure #

// Modular Sizes
$size_1: .42rem;
$size_2: .47rem;
$size_3: .56rem;
$size_4: .63rem;
$size_5: .75rem;
$size_6: .84rem;
$size_7: 1rem;
$size_8: 1.13rem;
$size_9: 1.33rem;
$size_10: 1.5rem;
$size_11: 1.77rem;
$size_12: 2rem;
$size_13: 2.37rem;
$size_14: 2.67rem;
$size_15: 3.16rem;
$size_16: 3.56rem;
$size_17: 4.21rem;
$size_18: 4.74rem;
$size_19: 5.62rem;

// Spacing
$sp_1: $size_1;
$sp_2: $size_3;
$sp_3: $size_5;
$sp_4: $size_7;
$sp_5: $size_9;
$sp_6: $size_11;
$sp_7: $size_13;
$sp_8: $size_15;
$sp_9: $size_17;
$sp_10: $size_19;

//Layout
$site_padding: 5.62vw;
$sidebar_width: 300px;

// Responsive widths
$size__spacing-unit: 1rem;

$mobile_width: 42.09em;
$tablet_width: 56.12em;
$desktop_width: 74.83em;
$wide_width: 99.77em;

// # Citadel Fonts #

// Default fonts
$font__body: 'open-sans', helvetica, arial, sans-serif;
$font__heading: 'poynter-oldstyle-display', 'adobe-garamond-pro', times, serif;
$font__code: Menlo, monaco, Consolas, Lucida Console, monospace;
$font__pre: Courier, monospace;

//Font sizes
$xxs_font: $size_6;
$xs_font: $size_7;
$sm_font: $size_8;
$md_font: $size_9;
$lg_font: $size_10;
$xl_font: $size_11;
$xxl_font: $size_12;

$font__size_base: 18px;
$font__size-ratio: 1.2;

$font__size-xxs:   1rem / (1.5 * $font__size-ratio);
$font__size-xs:    1rem / (1.25 * $font__size-ratio);
$font__size-sm:    1rem / (1 * $font__size-ratio);
$font__size-md:    1rem * (1 * $font__size-ratio);
$font__size-lg:    1rem * (1.5 * $font__size-ratio);
$font__size-xl:    1rem * (2 * $font__size-ratio);
$font__size-xxl:   1rem * (2.5 * $font__size-ratio);
$font__size-xxxl:  1rem * (3 * $font__size-ratio);

$font__line-height-body: 1.8;
$font__line-height-pre: 1.6;
$font__line-height-heading: 1.2;
$font__line-height-double:  2 * $font__line-height-heading;

// # Citadel Colors #

// Base Colors
$citadel_navy: #1F3A60;
$citadel_blue: #3975B7;
$pt_barracks: #CEC7BF;
$shako: #282E36;
$band_gold: #CDA31F;
$officer_sash: #7D2935;
$citadel_dark_navy: #1A3152;

// Color Opacities
$citadel_navy_80: rgba(31, 58, 96, 0.8);
$citadel_navy_60: rgba(31, 58, 96, 0.6);
$citadel_navy_40: rgba(31, 58, 96, 0.4);
$citadel_navy_20: rgba(31, 58, 96, 0.2);

$citadel_blue_80: rgba(57, 117, 183, 0.8);
$citadel_blue_60: rgba(57, 117, 183, 0.6);
$citadel_blue_40: rgba(57, 117, 183, 0.4);
$citadel_blue_20: rgba(57, 117, 183, 0.2);

$pt_barracks_80: rgba(206, 199, 191, 0.8);
$pt_barracks_60: rgba(206, 199, 191, 0.6);
$pt_barracks_40: rgba(206, 199, 191, 0.4);
$pt_barracks_20: rgba(206, 199, 191, 0.2);

$shako_80: rgba(40, 46, 54, 0.8);
$shako_60: rgba(40, 46, 54, 0.6);
$shako_40: rgba(40, 46, 54, 0.4);
$shako_20: rgba(40, 46, 54, 0.2);

$band_gold_80: rgba(205, 163, 31, 0.8);
$band_gold_60: rgba(205, 163, 31, 0.6);
$band_gold_40: rgba(205, 163, 31, 0.4);
$band_gold_20: rgba(205, 163, 31, 0.2);

$officer_sash_80: rgba(125, 41, 53, 0.8);
$officer_sash_60: rgba(125, 41, 53, 0.6);
$officer_sash_40: rgba(125, 41, 53, 0.4);
$officer_sash_20: rgba(125, 41, 53, 0.2);

// Backgrounds
$color__background-body: #fff;
$color__background-input: #fff;
$color__background-button: $citadel_blue;
$color__background-button-hover: $citadel_navy;
$color__background_selection: $citadel_blue;

// Text
$color__text-main: $shako;
$color__text-input: $shako_80;
$color__text-light: $shako_60;

// Links
$color__link: $shako;
$color__link-visited: $shako;
$color__link-hover: $citadel_blue
